<div class="media">
    <div class="media__image">
            <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
</div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Maanaged Updates</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fugiat accusantium animi, commodi totam quam exercitationem doloremque culpa libero perferendis doloribus enim numquam amet est!</p>

    </div>
</div>
